@model PaginacionRespuesta<AlmacenViewModel>
@{
    ViewData["Title"] = "Listado de Almacemes";
}

<div class="pagetitle">
    <h1>Almacenes</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Almacenes</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<br />


<a class="btn btn-outline-primary btn-sm mb-4" asp-action="Crear" asp-controller="Almacenes" title="Crear nuevo almacen">Nuevo Almacen</a>

<div class="d-flex mb-1">

    <div class="p-2" style="margin-top:7px">
        <label class="form-label">Mostrar</label>
    </div>


    <div class="p-2">
        <select asp-for="@Model.RecordsPorPagina" id="cantidadRecordsPorPaginas" class="form-select">
            <option>3</option>
            <option>5</option>
            <option>10</option>
            <option>25</option>
        </select>
    </div>

    <div class="ms-auto p-2">
        <input type="search" class="form-control" placeholder="buscar..." id="inputBuscar" />
    </div>

</div>

<div class="d-flex mb-1">

    <div class="ms-auto p-2">
        <a class="btn btn-sm btn-outline-danger" asp-action="ElementosInactivos" asp-controller="Almacenes">Ver Registros Inactivos</a>

    </div>

</div>


<table class="table table-hover table-responsive mb-5 table-sm">
    <thead class="cabecera-tabla">
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Fecha Registro</th>
            <th>Acciones</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ElementosActivos)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.FechaRegistro</td>
                <td>
                    <a class="btn btn-sm btn-outline-warning" asp-route-id="@item.Id" asp-action="Editar" asp-controller="Almacenes" title="Editar"><i class="bi bi-pencil"></i></a>
                    <a class="btn btn-sm btn-outline-danger" asp-route-id="@item.Id" asp-action="Eliminar" asp-controller="Almacenes" title="Eliminar"><i class="bi bi-trash"></i></a>
                </td>
               
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-end">
    <partial name="_Paginacion" />

</div>

@section Scripts {
    <script src="~/js/buscar.js"></script>
    <script>
        $("#cantidadRecordsPorPaginas").change(function () {
            const recordsPorPagina = $(this).val();
            location.href = `/Almacenes/?Pagina=1&RecordsPorPagina=${recordsPorPagina}`;
        });
    </script>

}

